<% view_models.each_with_index do |card, index| %>
    <% if index % 4 == 0 %><ul class="card_line"><% end %>
    <li id="card_<%= card.respond_to?(:card_id) ? card.card_id : card.id %>" class="card">
        <p class="card_name"><small><%= card.card_name %></small></p>
        <span class="mana"><%= apply_img_and_hbr(card.mana) %></span>
        <span class="card_poto"><%= card.poto %></span>
        <div class="card_img"><%= image_tag('items' + card.card_img_path) %></div>
        <p class="card_text"><small><%= apply_img_and_hbr(card.text) %></small></p>
        <% if card.respond_to? :count %>
            <p class="card_count_with_mai"><span class="card_count"><%= card.count %></span>枚</p>
            <ul>
                <li class="count_up_btn"><%= button_to "増やす",  {:controller => "user", :action => "add_card", :id => card.card_id}, {:method => "POST", :remote => true} %></li>
                <li><%= button_to "減らす",  {:controller => "user", :action => "remove_card", :id => card.card_id}, {:method => "POST", :remote => true, :class => "delete_btn"} %></li>
            </ul>
        <% else %>
            <% if user_signed_in? %>
                <p class="regist_card_btn"><%= button_to "デッキに追加",  {:controller => "user", :action => "add_card", :id => card.id}, {:method => "POST", :remote => true} %></p>
            <% end %>
        <% end %>
    </li>
    <% if index % 4 == 3 %></ul><% end %>
<% end %>